.hide-y
  .tweet{class:[("tweet-animation" if local_assigns[:animate])]}
    -if tweet.user.avatar.attached?
      = image_tag url_for(tweet.user.avatar), class: "img-thumbnail"
    %p.tweet-content= tweet.body
    %div
      = link_to "Retweet", retweet_tweet_path(tweet)
    %div
      = link_to tweet.user do
        = tweet.user.email